/* Configuração global CSS, não utilizar tamanhos ou configurações de estilo */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;900&display=swap');

/* Configuração do body / html, aqui podemos utilizar cores e configurações de estilo */
body {
    background: #576CBC;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Overpass', sans-serif;
    background-size: cover;
    background-position: left top;
}

main {
    display: flex;
    flex-direction: column;
    height: 100px;
}

section.form_admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form_admin form {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_admin .botoes_adm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: row;
}

button {
    background-color: #2c3639;
    color: #fff;
    padding: 20px 80px;
    border: none;
    border-radius: 40px;

}